<ng-template message-host></ng-template>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" href="/accueil">Bibliothèque</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#navbarsExample05" aria-controls="navbarsExample05"
		aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarsExample05">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active"><a class="nav-link" href="/accueil">Accueil<span
					class="sr-only">(current)</span>
			</a></li>
			<li class="nav-item active"><a class="nav-link" href="/research">Recherche<span
					class="sr-only">(current)</span>
			</a></li>
			<li class="nav-item active"><a class="nav-link"
				href="/registration">Register<span class="sr-only">(current)</span>
			</a></li>
			<li class="nav-item active"><a class="nav-link" href="/login">Login
					<span class="sr-only">(current)</span>
			</a></li>
			<li class="nav-item active"><a class="nav-link" href="/member">CRUD
					member<span class="sr-only">(current)</span>
			</a></li>
			<li class="nav-item active"><a class="nav-link" href="/book">CRUD
					livre<span class="sr-only">(current)</span>
			</a></li>
			<li class="nav-item active"><a class="nav-link" href="/borrow">Valider Emprunt<span class="sr-only">(current)</span>
			</a></li>
		</ul>
		<form class="form-inline" method="POST" action="${context}/recherche">
			<input class="form-control mr-sm-2" type="search"
				placeholder="Nom de livre" aria-label="Search" id="txboxRecherche"
				name="txboxRecherche">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		</form>
	</div>
</nav>