<ng-template message-host></ng-template>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" href="/accueil">Bibliothèque</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#navbarsExample05" aria-controls="navbarsExample05"
		aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarsExample05">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active"><a class="nav-link" href="/accueil">Accueil<span
					class="sr-only">(current)</span>
			</a></li>
			<li class="nav-item active"><a class="nav-link" href="/research">Recherche<span
					class="sr-only">(current)</span>
			</a></li>
			<li class="nav-item active"><a class="nav-link" href="/books">Liste
					Livre<span class="sr-only">(current)</span>
			</a></li>
			<li class="nav-item active"><a class="nav-link" href="/login">Login
					<span class="sr-only">(current)</span>
			</a></li>
			<li class="nav-item dropdown"><a
				class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
				role="button" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="false"> Admin </a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="/member">Membre</a> <a
						class="dropdown-item" href="/book">Livre</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="/borrow">Emprunt</a>
				</div></li>


		</ul>
		<form class="form-inline" method="POST" action="${context}/recherche">
			<input class="form-control mr-sm-2" type="search"
				placeholder="Nom de livre" aria-label="Search" id="txboxRecherche"
				name="txboxRecherche">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		</form>
	</div>
</nav>
