<div class="jumbotron jumbotron-fluid">
	<div class="container">
		<h1 class="display-4">BibliGestion</h1>
		<p class="lead">Bienvenue dans l'espace de gestion de votre
			bibliothèque !</p>
	</div>
	<div class="album py-5 bg-light">
		<div class="container">
			<div class="row">
				<div *ngFor="let member of listeMembres">


					<div class="card-body">
						<p class="card-text">Firstname {{member.book_title}}</p>
						<p class="card-text">Lastname {{member.book_description}}</p>
						<p class="card-text">Email {{member.book_price}}</p>
						<p class="card-text">Address {{member.author_lastname}}
						<p class="card-text">Password {{member.author_lastname}}</p>
						<p class="card-text">Is admin {{member.author_lastname}}</p>
						<div class="d-flex justify-content-between align-items-center">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

