<div class="jumbotron jumbotron-fluid">
	<div class="container">
		<form>
			<fieldset>
				<legend>Sign up</legend>
				<div class="form-group">
					<label class="control-label col-lg-2">Firstname</label> <input
						id="txboxFirstname" type="text" class="form-control"
						name="txboxFirstname" [(ngModel)]='memberVM.member_firstname'
						placeholder="Firstname">
				</div>
				<div class="form-group">
					<label class="control-label col-lg-2">Lastname</label> <input
						id="txboxLastname" type="text" class="form-control"
						name="txboxLastname" [(ngModel)]='memberVM.member_lastname'
						placeholder="Lastname">
				</div>
				<div class="form-group">
					<label class="control-label col-lg-2">Postal address</label> <input
						id="txboxAddress" type="text" class="form-control"
						name="txboxAddress" [(ngModel)]='memberVM.member_address'
						placeholder="Address">
				</div>
				<div class="form-group">
					<label class="control-label col-lg-2">Member's Library</label> <select
						*ngFor="let library of listeLibrary">
						<option value="{{library.library_name}}">{{library.library_name}}</option>
					</select>

				</div>
				<div class="form-group">
					<label class="control-label col-lg-2">Email</label> <input
						id="txboxEmail" type="text" class="form-control" name="txboxEmail"
						[(ngModel)]='memberVM.member_email' placeholder="Email">
				</div>


				<div class="form-group">
					<label class="control-label col-lg-2">Password</label> <input
						id="txtboxPswd1" type="text" class="form-control"
						name="txtboxPswd1" [(ngModel)]='memberVM.member_password'
						placeholder="Password">
				</div>
				<div class="form-group">
					<label class="control-label col-lg-2">Password confirmation</label>
					<input id="txtboxPswd2" type="text" class="form-control"
						name="txtboxPswd25" [(ngModel)]='memberVM.member_password'
						placeholder="Password">
				</div>
				<div class="form-group">
					<label class="control-label col-lg-2">Administrateur ?</label> <input
						id="txtboxAdmin" type="text" class="form-control"
						name="txtboxAdmin" [(ngModel)]='memberVM.isMemberAdmin'
						placeholder="Password">
				</div>
				<div class="form-group">
					<button (click)="newMember()" class="btn btn-default">Register</button>
				</div>
			</fieldset>
		</form>
	</div>
</div>