<div class="jumbotron jumbotron-fluid">
	<div class="container">
		<form>
			<fieldset>
				<legend>Inscription</legend>
				<div class="form-group">
					<label class="control-label col-lg-2">Nom</label> <input
						id="txboxFirstname" type="text" class="form-control"
						name="txboxFirstname" [(ngModel)]='memberVM.member_firstname'
						placeholder="Nom">
				</div>
				<div class="form-group">
					<label class="control-label col-lg-2">Prénom</label> <input
						id="txboxLastname" type="text" class="form-control"
						name="txboxLastname" [(ngModel)]='memberVM.member_lastname'
						placeholder="Prénom">
				</div>
				<div class="form-group">
					<label class="control-label col-lg-2">Adresse</label> <input
						id="txboxAddress" type="text" class="form-control"
						name="txboxAddress" [(ngModel)]='memberVM.member_address'
						placeholder="Adresse">
				</div>
				<br>
				<div class="form-group">
					<label class="control-label col-lg-2">Librairie</label>
					<!--  -->
					<select name="library.library_code" [(ngModel)]='memberVM.member_LibraryId'>
						<option *ngFor="let library of listeLibrary"
							[ngValue]="library.library_code">{{library.library_name}}</option>
					</select>

				</div>
				<div class="form-group">
					<label class="control-label col-lg-2">Email</label> <input
						id="txboxEmail" type="text" class="form-control" name="txboxEmail"
						[(ngModel)]='memberVM.member_email' placeholder="Email">
				</div>


				<div class="form-group">
					<label class="control-label col-lg-2">Mot de passe</label> <input
						id="txtboxPswd1" type="text" class="form-control"
						name="txtboxPswd1" [(ngModel)]='memberVM.member_password'
						placeholder="Mot de passe">
				</div>
				<div class="form-group">
					<label class="control-label col-lg-2">Confirmation</label>
					<input id="txtboxPswd2" type="text" class="form-control"
						name="txtboxPswd25" [(ngModel)]='memberVM.member_password'
						placeholder="Mot de passe">
				</div>
				<!-- 				<div class="form-group"> -->
				<!-- 					<label class="control-label col-lg-2">Administrateur ?</label> <input -->
				<!-- 						id="txtboxAdmin" type="text" class="form-control" -->
				<!-- 						name="txtboxAdmin" [(ngModel)]='memberVM.isMemberAdmin' -->
				<!-- 						placeholder="Password"> -->
				<!-- 				</div> -->
				<div class="form-group">
					<button (click)="newMember()" class="btn btn-primary">Enregistrer</button>
				</div>
			</fieldset>
		</form>
	</div>
</div>