<div class="jumbotron jumbotron-fluid" id="criteres">
	<div class="container">
		<h1 class="display-4">Connexion</h1>
		<hr>
		<br>
		<form method="POST" action="">
			<br>
			<div>
				<label class="form-check-label" for="defaultCheck1">Se
					connecter</label>
			</div>
			<br>

			<div>
				<input class="form-control" id="txtboxEmail" name="txtboxEmail"
					type="text" placeholder="Email">
			</div>
			<div>
				<input class="form-control" id="txtboxPswd" name="txtboxPswd"
					type="text" placeholder="Mot de Passe">
			</div>
			<br> <br>
			<div>
				<button type="submit" id="btnConnexion" class="btn btn-primary">Se
					connecter</button>
			</div>
		</form>
	</div>
</div>