<div class="jumbotron text-center">
	<div class="container">
		<div class="jumbotron-heading">
			<h1 class="display-4">Gestion des Membres</h1>
			<br>
			<form>
				<button class="btn btn-primary" [routerLink]="['/registration']">Create</button>
			</form>
		</div>
	</div>
</div>
<div class="container">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Firstname</th>
				<th>Lastname</th>
				<th>Email</th>
				<th>Library</th>
				<th>Address</th>
			</tr>
		</thead>
		<tr *ngFor="let member of listeMembers">
			<td>{{member.member_firstname}}</td>
			<td>{{member.member_lastname}}</td>
			<td>{{member.member_email}}</td>
			<td>{{member.library_name}}</td>
			<td>{{member.member_address}}</td>
			<td>
				<button class="btn btn-info" [routerLink]="['/memberdetails']"
					[queryParams]="{ id: member.member_id}">Details</button>
				<button class="btn btn-primary">Update</button>
				<button class="btn btn-danger">Delete</button>
			</td>
		</tr>
	</table>
</div>
