<div class="jumbotron text-center">
	<div class="container">
		<div class="jumbotron-heading">
			<h1 class="display-4">Gestion des membres</h1>
			<br>
			<form>
				<button class="btn btn-primary" [routerLink]="['/registration']">Nouveau</button>
			</form>
		</div>
	</div>
</div>
<div class="container">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Prénom</th>
				<th>Nom</th>
				<th>Email</th>
				<th>Bibliothèque</th>
				<th>Adresse</th>
 				<th>Actions</th> 
			</tr>
		</thead>
		<tr *ngFor="let member of listeMembers">
			<td>{{member.member_firstname}}</td>
			<td>{{member.member_lastname}}</td>
			<td>{{member.member_email}}</td>
			<td>{{member.library_name}}</td>
			<td>{{member.member_address}}</td>
			<td>
				<button class="btn btn-info" [routerLink]="['/memberdetails']" [queryParams]="{ id: member.member_id}">Détails</button>
				<button class="btn btn-primary">MaJ</button>
				<button class="btn btn-danger">Supprimer</button>
			</td>
		</tr>
	</table>
</div>
