<div class="jumbotron text-center">
	<div class="container">
		<div class="jumbotron-heading">
			<h1 class="display-4">Gestion des Livres</h1>
			<br>
			<form>
				<button class="btn btn-primary" type="submit" (click)="createBook()">Create</button>
			</form>
		</div>
	</div>
</div>
<div class="container">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>ISBN</th>
				<th>Title</th>
				<th>Author</th>
				<th>Editor</th>
				<th>Category</th>
			</tr>
		</thead>
		<tr *ngFor="let book of listeBook">
			<td>{{book.isbn}}</td>
			<td>{{book.book_title}}</td>
			<td>{{book.author_lastname}} {{book.author_firstname}}</td>
			<td>{{book.editor_name}}</td>
			<td>{{book.category_name}}</td>

			<td>
				<button class="btn btn-info" [routerLink]="['/bookdetails']" [queryParams]="{ id: book.isbn}">Details</button>
				<button class="btn btn-primary">Update</button>
				<button class="btn btn-danger">Delete</button>
			</td>
		</tr>
	</table>
</div>