<div class="jumbotron text-center">
	<div class="container">
		<div class="jumbotron-heading">
			<h1 class="display-4">Gestion des Livres</h1>
			<br>
			<form>
				<button class="btn btn-primary" type="submit" (click)="createBook()">Ajouter un livre</button>
			</form>
		</div>
	</div>
</div>
<div class="container">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>ISBN</th>
				<th>Titre</th>
				<th>Auteur</th>
				<th>Editeur</th>
				<th>Categorie</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tr *ngFor="let book of listeBook">
			<td>{{book.isbn}}</td>
			<td>{{book.book_title}}</td>
			<td>{{book.author_lastname}} {{book.author_firstname}}</td>
			<td>{{book.editor_name}}</td>
			<td>{{book.category_name}}</td>

			<td>
				<button class="btn btn-info" [routerLink]="['/bookdetails']"
					[queryParams]="{ id: book.isbn}">Détails</button>
				<button class="btn btn-primary" [routerLink]="['/updatebook']"
					[queryParams]="{ id: book.isbn}">MaJ</button>
				<button class="btn btn-danger" (click)='deleteBook(book.isbn)'>Supprimer</button>

			</td>
		</tr>
	</table>
</div>