<div class="jumbotron jumbotron-fluid">
	<div class="container">
		<form>
			<fieldset>
				<legend>Enregistrer un livre</legend>

				<div class="form-group">
					<label class="control-label col-lg-2">Titre</label> <input
						name="bookVM.book_title" type="text" class="form-control"
						[(ngModel)]='bookVM.book_title' placeholder="Titre">
				</div>
				<div class="form-group">
					<label class="control-label col-lg-2">Description</label> <input
						name="bookVM.book_description" type="text" class="form-control"
						[(ngModel)]='bookVM.book_description' placeholder="Description">
				</div>

				<div class="form-group">
					<label class="control-label col-lg-2">Prix</label> <input
						name="bookVM.book_price" type="number" class="form-control"
						[(ngModel)]='bookVM.book_price' placeholder="Prix">
				</div>

				<div class="form-group">
					<label class="control-label col-lg-2">Date de publication</label> <input
						name="bookVM.publication_date" type="text" class="form-control"
						[(ngModel)]='bookVM.publication_date'
						placeholder="jj/mm/aaaa">
				</div>

				<div class="form-group">
					<label class="control-label col-lg-2">Livre populaire</label> <input
						name="bookVM.popular_book" type="text" class="form-control"
						[(ngModel)]='bookVM.popular_book' placeholder="Popular ?">
				</div>


				<div class="form-group">
					<label class="control-label col-lg-2">Auteur</label>
					<!--  -->
					<select name="author.author_id" [(ngModel)]='bookVM.book_authorId'>
						<option *ngFor="let author of listAuthor"
							[ngValue]="author.author_id">{{author.author_lastname}}
							{{author.author_firstname}}</option>
					</select>
				</div>

				<div class="form-group">
					<label class="control-label col-lg-2">Catégorie</label>
					<!--  -->
					<select name="category.category_id"
						[(ngModel)]='bookVM.book_categoryId'>
						<option *ngFor="let category of listCategory"
							[ngValue]="category.category_id">{{category.category_name}}</option>
					</select>
				</div>

				<div class="form-group">
					<label class="control-label col-lg-2">Editeur</label>
					<!--  -->
					<select name="editor.editor_id" [(ngModel)]='bookVM.book_editorId'>
						<option *ngFor="let editor of listEditor"
							[ngValue]="editor.editor_id">{{editor.editor_name}}</option>
					</select>
				</div>

				<div class="form-group">
					<button (click)="addBook()" class="btn btn-primary">Create</button>
				</div>
			</fieldset>
		</form>
	</div>
</div>